{% from "pz/html/megaNav.twig" import nav as nav %}

{% block html %}
    <!DOCTYPE html>
    <html>
        {% block head %}
            <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>{{ getenv('PROJECT') }}</title>
                <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>





                {% block asset %}
                    <link rel="stylesheet" href="{{ asset('build/cms-main.css') }}">
                    <script src="{{ asset('build/cms-main.js') }}"></script>
                {% endblock %}

                <link href="{{ getenv('CDN') }}/inspinia/css/bootstrap.min.css" rel="stylesheet">
                <link href="{{ getenv('CDN') }}/inspinia/css/animate.css" rel="stylesheet">
                <link href="{{ getenv('CDN') }}/inspinia/css/style.css" rel="stylesheet">
                <link href="{{ getenv('CDN') }}/inspinia/css/plugins/iCheck/custom.css" rel="stylesheet">

                <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
                <link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" rel="stylesheet">
                <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.4.5/jquery.datetimepicker.min.css" rel="stylesheet">

                {% block extraHead %}{% endblock %}
            </head>
        {% endblock %}

        {% block body %}
            <body class="pace-done {% block extraBodyClass %}{% endblock %} {% if app.request.cookies.get('miniNavbar') == 1 %}mini-navbar{% endif %}">
                {% block wrapper %}
                    <div id="wrapper">
                        <nav class="navbar-default navbar-static-side" role="navigation">
                            <div class="sidebar-collapse">
                                <ul class="nav" id="side-menu">
                                    <li class="nav-header">
                                        <div class="dropdown profile-element">
                                        <span>
                                            {#<img style="height: 48px; width: 48px;" class="img-circle" src="{% if app.user.image is defined %}/pz/secured/files/image/{{ app.user.image }}/cms_file_preview{% else %}{{ getenv('CDN') }}/inspinia/profile_small.jpg{% endif %}"/>#}
                                        </span>
                                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                            <span class="clear">
                                                <span class="block m-t-xs"> <strong class="font-bold">{{ app.user.username }}</strong></span>
                                            </span>
                                            </a>
                                        </div>
                                        <div class="logo-element">
                                            {#<img style="width: 30px;" class="img-circle" src="{% if app.user.image is defined %}/pz/secured/files/image/{{ app.user.image }}/cms_file_preview{% else %}{{ getenv('CDN') }}/inspinia/profile_small.jpg{% endif %}"/>#}
                                        </div>
                                    </li>

                                    {% for itm in root.children %}
                                        {{ nav(itm, 1, node) }}
                                    {% endfor %}
                                </ul>
                            </div>
                        </nav>

                        <div id="page-wrapper" class="gray-bg">
                            <div class="row border-bottom">
                                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                                    <div class="navbar-header">
                                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-bars"></i> </a>
                                    </div>
                                    <ul class="nav navbar-top-links navbar-right">
                                        {#<li><span class="m-r-sm text-muted welcome-message">{{ app.user.name }}</span></li>#}
                                        <li><a href="/pz/logout"> <i class="fa fa-sign-out"></i> Log out</a></li>
                                    </ul>
                                </nav>
                            </div>

                            <div class="row wrapper border-bottom white-bg page-heading">
                                <div class="col-lg-10">
                                    {% block extraHeaderLeft %}{% endblock %}
                                </div>
                                <div class="col-lg-2">
                                    {% block extraHeaderRight %}{% endblock %}
                                </div>
                            </div>
                            <div class="wrapper wrapper-content animated fadeInRight">
                                {% block content %}{% endblock %}
                            </div>
                        </div>

                        <div id="confirm-dialog" style="display: none;" class="fancybox">
                            <div class="form-group">
                                Are you sure?
                            </div>
                            <div>
                                <button id="confirm-ok" type="submit" class="btn btn-sm btn-primary m-t-n-xs"><strong>OK</strong></button>
                                <button type="submit" class="btn btn-sm m-t-n-xs" onclick="$.fancybox.close();"><strong>Cancel</strong></button>
                            </div>
                        </div>
                    </div>
                {% endblock %}

                {% block extraFooter %}{% endblock %}
            </body>
        {% endblock %}
    </html>
{% endblock %}