{% extends 'pz/orm.twig' %}

{% block asset %}
    <link rel="stylesheet" href="{{ asset('build/cms-orm-fragmentblock.css') }}" as="style" rel="preload">
    <script src="{{ asset('build/cms-orm-fragmentblock.js') }}" async defer></script>
{% endblock %}

{% block form %}
    <form method="POST" novalidate autocomplete="off">
        <div class="box text">
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
            {{ form_errors(form.title) }}
        </div>
        <div class="box text">
            {{ form_label(form.twig) }}
            {{ form_widget(form.twig) }}
            {{ form_errors(form.twig) }}
        </div>
        <div class="box text">
            {{ form_label(form.tags) }}
            {{ form_widget(form.tags) }}
            {{ form_errors(form.tags) }}
        </div>

        <div class="box textarea">
            {{ form_label(form.items) }}
            {{ form_widget(form.items,{attr:{style:'display:none;'}}) }}

            <table id="content-block-container" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Widget</th>
                    <th>Title</th>
                    <th>ID</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
            </table>
            <button id="add" type="button" class="btn"><i class="fa fa-plus"></i></button>
            <div>&nbsp;</div>
            {{ form_errors(form.items) }}
        </div>

        {{ form_rest(form) }}

        <div style="clear: both;"></div>
        <div>&nbsp;</div>
        <div class="submit-container">
            <a class="btn btn-white" href="{{ returnUrl }}"><i class="fa fa-arrow-left"></i> &nbsp;Back</a>
            <input class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit" value="Save" name="submit" />
            <input class="btn btn-sm btn-success pull-right m-t-n-xs" type="submit" value="Apply" name="submit" />
        </div>
    </form>
{% endblock %}

{% block extraFooter %}
    {{ parent() }}
    <script id="row" type="text/x-handlebars-template">{% include 'pz/javascript/page-orm-fragmentblock.twig' %}</script>
    <script>
        window._blockWidgets = {{ utils.blockWidgets|json_encode|raw }};
    </script>
{% endblock %}
