{% extends 'pz/layout.twig' %}
{% block extraBodyClass %}page-content{% endblock %}

{% block asset %}
	<link rel="stylesheet" href="{{ asset('build/cms-orm.css') }}" as="style" rel="preload">
	<script src="{{ asset('build/cms-orm.js') }}" async defer></script>
{% endblock %}

{% set model = db.byId('_Model', fragments.2) %}
{% if orm is not defined %}
	{% set orm = db.byId(model.className, fragments|last) ?: db.create(model.className, app.request.get('uniqId')) %}
{% endif %}
{% set form = ormHandler.handle(model, orm) %}
{% form_theme form 'pz/form.twig' %}

{% set returnUrl = app.request.get('returnUrl') ?: '/pz/' ~ (model.dataType == 0 ? 'database' : 'admin') ~ '/' ~ model.id %}

{% block extraHeaderLeft %}
	<h2>Manage <label class="label label-warning-light">{{ model.title }}</label></h2>
{% endblock %}

{% block content %}
    {% if fragments|length < 5 and not app.request.get('uniqId') %}
        {{ redirect(301, app.request.basePath ~ '?uniqId=' ~ utils.uniqId ~ (app.request.get('returnUrl') ? '&returnUrl=' ~ app.request.get('returnUrl')|url_encode : '')) }}
    {% endif %}

	{% set exist = db.byField(model.className, 'uniqid', app.request.get('uniqId')) %}
	{% if exist %}
        {{ redirect(301, app.request.basePath ~ '?uniqId=' ~ utils.uniqId ~ (app.request.get('returnUrl') ? '&returnUrl=' ~ app.request.get('returnUrl')|url_encode : '')) }}
    {% endif %}

	<div class="row">
		<div class="col-lg-12 max-1000">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h2>{{ orm.id ? '#' ~ orm.id  : 'Creating new record...' }}</h2>
				</div>
				<div class="ibox-content">
					{% block form %}
						<form method="POST" novalidate autocomplete="off" action="?returnUrl={{ returnUrl }}{% if app.request.get('uniqId') %}&uniqId={{ app.request.get('uniqId') }}{% endif %}" data-modelname="{{ model.className }}" data-ormid="{{ orm.uniqId }}">
							{% block formWidgets %}
                                {{ form_widget(form) }}
							{% endblock %}

							<div style="clear: both;"></div>
							<div>&nbsp;</div>
							<div class="submit-container">
								<a class="js-back btn btn-white" href="{{ returnUrl }}"><i class="fa fa-arrow-left"></i> &nbsp;Back</a>
								<input class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit" value="Save" name="submit" />
								<input class="btn btn-sm btn-success pull-right m-t-n-xs" type="submit" value="Apply" name="submit" />
								{#<input class="btn btn-sm btn-danger pull-right m-t-n-xs" type="submit" value="Delete" name="submit" />#}
							</div>
						</form>
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block extraFooter %}
	<script id="gallery-file" type="text/x-handlebars-template">{% include 'pz/javascript/gallery-file.twig' %}</script>

    {% include 'pz/html/file-manager.html.twig' %}

	<script id="loading" type="text/x-handlebars-template">{% include 'pz/javascript/loading.twig' %}</script>
	<script id="folder" type="text/x-handlebars-template">{% include 'pz/javascript/fm-folders.twig' %}</script>
	<script id="file" type="text/x-handlebars-template">{% include 'pz/javascript/fm-file.twig' %}</script>
	<script id="nav" type="text/x-handlebars-template">{% include 'pz/javascript/fm-nav.twig' %}</script>
{% endblock %}